### IDEs ###
.idea/
.vscode/
*.iml

### IntelliJ build/output folders ###
out/
bin/

### Logs and temporary files  ###
*.log
*.tmp

### Node.js ###
node_modules/
.env
.env.auth

### OS ###
.DS_Store
Thumbs.db